<div class="about-container">
  Shelley Rottenberg's original post in SAAT:

  <h3>Everything You Need to Know About SAAT Zoom Calls</h3>
  <div>
    Based on the responses to the poll I posted a few days ago, here’s some
    information that will hopefully help those wanting to join the zoom calls
    for the first time! (Sorry in advance, it’s quite long!)
  </div>
  <br />
  <h4>The basics:</h4>
  <div>
    The Wednesday zoom calls start at 8pm EST and the Friday ones start at 9pm
    EST.
  </div>
  <div>
    Matt Delatour usually hosts the Wednesday zoom calls (with tonight as an
    exception because Matt Krieg will be hosting). Ming Yan Ullman, Patrick
    McGrail and I will be hosting the weekly Friday calls starting next week!
  </div>
  <br />
  <h4>How they work:</h4>
  <div>
    Although the zoom calls have a set start time, you can drop by whenever
    you’re free! They literally last for several hours (I think the record is
    ~13 hours for the longest one). You can even join, stay for a bit, then
    leave and come back later too!
  </div>
  <div>
    Once there’s a decent amount of people on the call, the host will set up
    breakout rooms (anywhere from around 4-12 people in each one). Sometimes the
    breakout rooms have a timer (ex. 60 minutes) and sometimes the host will
    just decide when to end them/switch up the people.
  </div>
  <br />
  <h4>How to join:</h4>
  <div>
    The post with the zoom link will usually be posted in the group either the
    day of, or the day before its scheduled date. If anyone has trouble finding
    the posts with the zoom links, just look up “zoom” or the host’s name in the
    search bar for this group and click “most recent” to filter the search
    results. It’s way faster than trying to scroll through all of the posts.
  </div>
  <br />
  <h4>Tips for first-timers:</h4>
  <ul>
    <li>Feel free to tell people that you’re new when you join</li>
    <li>
      Introduce yourself if you’re comfortable (ex, name, where you’re adopted
      from, where you are now, age etc.)
    </li>
    <li>
      Don’t be afraid to ask others to introduce themselves (works better in the
      the breakout rooms)
    </li>
    <li>
      If you join and there’s a blank white screen, then breakout rooms are in
      sessions and just wait a couple of minutes to be assigned to one
    </li>
  </ul>
  <br />
  <h4>Frequently asked questions:</h4>
  <ul>
    <li>
      Do I need a zoom account to join? Nope, just click the invite link and it
      will take you right to the call!
    </li>
    <li>
      Do I have to keep my video on? No, if you feel more comfortable with just
      your audio on, that’s fine too!
    </li>
    <li>
      What do you all talk about? A diverse range of topics, both chill and
      sometimes serious!
    </li>
  </ul>
  <br />
  <h4>Other zoom events:</h4>
  <ul>
    <li>
      Sometimes people will spontaneously create zoom calls on days/times other
      than Wednesday and Friday evenings so keep an eye out for those.
    </li>
    <li>
      Occasionally Tom Greening hosts AfterDark zoom calls (18+). You can search
      those up in the group to find his old posts and read about what they are.
    </li>
    <li>
      Subtle Asian Adoptee Dating also hosts zoom events for those looking to
      make new friendships and maybe something more (most events are 18+).
    </li>
  </ul>
</div>
