rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    match /calls/{callId} {
      allow read: if true;
      allow write: if false;
    }

    match /ice-breakers/{ibId} {
      allow read: if true;
      allow write: if false;
    }

    match /suggestions/{suggestionId} {
      allow read, create: if true;
      allow update, delete: if false;
    }

    match /{document=**} {
      allow read, write: if request.time < timestamp.date(2020, 8, 26);
    }
  }
}