.home-container {
  margin: 2em;

  .upcoming-calls {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media screen and (min-width: 360px) {
      flex-direction: row;

      app-zoom-card {
        width: 360px;
        margin-right: 1em;
      }
    }
  }
}
