<div class="rules-container">
  <div class="header">
    Adapted from
    <a
      target="_blank"
      href="https://www.facebook.com/groups/196489827883110/permalink/497683814430375/"
      >Shelley Rottenberg's original post in SAAT on August 18, 2020</a
    >
  </div>

  <div>
    The information in this post is for everyone who attends the weekly zoom
    calls, not just the new people. There has been a number of incidents on the
    SAAT zoom calls where people have been made to feel uncomfortable. To ensure
    that the calls are a fun and safe space for everyone, the weekly zoom hosts
    would like to remind attendees that the following will not be tolerated:
  </div>
  <ol>
    <li>
      No hate speech of any kind. This includes racist, sexist, homophobic etc.
      actions or language.
    </li>
    <li>
      No highly explicit content. This includes excessive swearing, mention of
      illegal activities, or sexually inappropriate topics of conversation.
    </li>
  </ol>
  <div>
    These two rules apply to discussions that take place in the main room, in
    breakout rooms, and in the chat function. It also applies to zoom call
    names, virtual backgrounds, and screen sharing activities.
  </div>
  <br />
  <div>
    If you ever feel uncomfortable in a breakout room and would like to switch,
    you can message the host privately in the zoom chat if they’re in your
    breakout room. If they aren’t in your breakout room, you can click the ‘Ask
    for Help’ button and it will notify the host to come to your breakout room.
    You are also free to leave your room and return to the main room at any
    time; you don’t need a host to do that. You should never feel stuck in a
    breakout room!
  </div>
  <br />
  <div>
    Just a note on zoom call etiquette, please refrain from sharing overly
    personal information about yourself, or asking questions that could be seen
    as invasive. While many of us have gotten very close over quarantine, there
    are certain conversations that are better had in private, off of the zoom
    calls.
  </div>
  <br />
  <div>
    Also, there are a lot of different personalities that come together for the
    calls, and sometimes certain people end up dominating conversations (whether
    intentionally or unknowingly). Please allow others a chance to talk and
    contribute to discussions. However, people should never feel pressured to
    speak if they don’t want to. Some people may just prefer to listen and
    that’s totally okay too.
  </div>
  <br />
  <div>
    Thanks to those who have read up until this point. While we want people to
    have a good time, it is important that discussions and behaviour remain
    appropriate and inclusive. The zoom calls have become such a wonderful part
    of SAAT, and we hope that they continue to be a place of positive
    connections and experiences.
  </div>
</div>
